---
---
@import "{{ site.theme }}";
.inner {
    position: relative;
    padding: 20px 20px;
    width: 90%; /* Adjust this value accordingly */
    max-width: 1200px; /* Optionally, set a maximum width to ensure it doesn't get too wide */
    margin: 0 auto; /* Centers the content horizontally */
}
body {
    display: grid;
}
p {
    display:grid;
}

